/* @override http://demo.simplecartjs.com/stylesheets/demoFullWindow.css */

/**********************************
Here lies the CSS for the simpleCart(js) Official Demo.
You don't need any of this for simpleCart(js) to work.
PLEASE USE YOUR OWN STYLESHEET AS WE WILL NOT OFFER SUPPORT FOR ANY STYLING ISSUES. 
**********************************/


/**********************************
RESETS 
**********************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;
}
body { line-height: 1;
}
ol, ul { list-style: none;
}
blockquote, q { quotes: none;
}

/ remember to define focus styles! /
:focus { outline: 0;
}

/ remember to highlight inserts somehow! /
ins { text-decoration: none;
}
del { text-decoration: line-through;
}

/ tables still need ‘cellspacing=”0”’ in the markup /
table { border-collapse: collapse; border-spacing: 0;
}

/**********************************
DEMO STYLES
**********************************/
body{
	background:#404040;
	font:16px Museo;
	color:#333;
}
#demoContainer{
	width:900px;
	margin:0 auto;
	padding-top: 50px;
	/* poner round corners y mamadas */
}
.simpleCart_shelfItem{
	float:left;
	margin: 0px 40px 0px 0px;
	line-height:100%;
	position:relative;
	text-align: center;
}
.item_image{
	float:left;
	margin-right:15px;
}
.item_name{
	font:bold 22px Museo;
	font-weight: 300;
	color:#F6F6E9;
	margin-top:15px;
	text-shadow: #000 1px 1px 1px;
}
.item_Description{
	font-size:11px;
	padding:5px 0;
	color:  #F6F6E9;
	text-shadow: #000 1px 1px 1px;
	
}
.item_price{
	font:bold 12px Museo;
	font-weight: 300;
	color:#F6F6E9;
	float:left;
	margin:6px 3px 0 0;
	text-indent: -9999px;
	text-shadow: #000 1px 1px 1px;
}
.item_thumb{
	display:none;
}
a.item_add {
	display: block;
	width:168px;
	height:187px;
}
a.item_add img{
	width: 168px;
	height:  187px;
}
.item_add:hover{
	background-position:-85px -21px;
}
.item_add:active{
	background-position:-170px -21px;
}
.simpleCart_items{
	clear:both;
	}
#chachachan{
	width: 200px;
	margin: 20px 0px 0px 0px;
	padding: 25px 0px 25px 0px;
	float: right;
	background-color: #333;
	-webkit-border-radius: 12px; 
	-moz-border-radius: 12px; 
	border-radius: 12px; 
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
	
}
.cartHeaders{
	display:none;
}
.itemContainer{
	float:left;
	width:150px;
	text-align:center;
	margin-bottom: 10px;
	height: 100px;
	padding-left: 17px;
}
.itemname{
	font:bold 11px "Helvetica", Arial, sans-serif;
	color:#333;
	text-transform:uppercase;
	display: none;
}
.itemthumb{
	float:none;
	margin:0;
	padding-top:5px;
}
.itemthumb img{
	max-width: 80px;
}

.itemQuantity{
	float:left;
	clear:both;
	margin-top:5px;
	display:inline;
	margin-left:30px;
}
.itemQuantity input{
	background:none;
	border:none;
	width:25px;
	height:27px;
	background:url(../images/badge-04.png) center no-repeat;
	text-align:center;
	color:#fff;
	font-family: Museo;
	padding:0 9px;
	padding-top:3px;
	position: relative;
	top: -100px;
	left: 44px;
}
.itemQuantity input:focus{
	outline:none;
}
.itemincrement a, .itemdecrement a {
	position: relative;
	top: -65px;
	left: 55px;
}

.itemincrement a{
	display:block;
	background:url(../images/flechitas-05.png) top;
	width:9.6px;
	height: 8.3px;
	text-indent:-9999px;
	overflow:hidden;
	margin-bottom: 15px;
}
.itemdecrement a{
	display:block;
	background:url(../images/flechitas-05.png) bottom;
	width:9.6px;
	height: 8.3px;
	text-indent:-9999px;
	overflow:hidden;
	margin:3px 0 0 0;
	
}
.itemTotal{
	color:#333;
	font:bold 11px Arial, sans-serif;
	margin:8px 0 0 0;
	padding:0;
	clear:both;
	display: none;
}
#viewFullDemoLink{
	clear:both;
	font:10px Arial, sans-serif;
	display:block;
	padding:5px 0 0 0;
	margin-left:140px;
	color:#333;
	text-decoration:none;
}
#viewFullDemoLink:hover{
	text-decoration:underline;
}
.simpleCart_checkout{
	display:-moz-inline-box;
	display:inline-block;
	background:url(../images/btnCheckout.png);
	width:87px;
	height:24px;
	text-indent:-9999px;
	overflow:hidden;
	position:relative;
	top:25px;
}
p{
	padding:10px 0;
}
strong{
	font-family:"Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
	font-weight:normal;
	color:#333;
}
h3{
	margin:35px 3px 0 3px;
	font:bold 20px "Helvetica", Arial, sans-serif;
	color:#333;
	text-shadow: rgba(0, 0, 0, 0.796875) 0px -1px 1px;
}

.item_gallery{
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	left: 60px;
	margin-bottom: 50px;
}